<section class="principal animate__animated animate__fadeIn">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!--<a class="navbar-brand" href="">Star Wars</a>-->
            <h3 class="nombre">Fer Industries</h3>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScezXnmi0UxplR01gLXV2eAw8fEsWqmDeXxvJovIBysFxHCyA/viewform?usp=sf_link"
                    target="_blank">Evaluación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://fer-industries.s3.amazonaws.com/Curso/Temario.pdf"
                    target="_blank">Temario</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="futuro.html">Futuro</a>
                </li>-->
            </ul>
         </div>
        </nav>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 class="titulo">Curso Programación</h1>
                <p class="intro">
                    Cuando el aprendiz está listo el maestro aparece
                </p>
            </div>
            <!--<div class="col-sm-12 col-md-6">
                <img src="https://fer-industries.s3.amazonaws.com/Curso/fer.jpg" class="imagen rounded-circle">
            </div>-->
        </div>
    </div>
</section>

<section id="primero" class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="caja-info col-lg-4">
            <i class="fas fa-code"></i>
            <h3>Aprendizaje</h3>
        </div>

        <div class="caja-info col-lg-4">
            <i class="fab fa-react"></i>
            <h3>Curso Efectivo</h3>
        </div>
        <div class="caja-info col-lg-4">
            <i class="far fa-user"></i>
            <h3>Profesor Comprometido</h3>
        </div>
        
    </div>

</section>

<section id="aprenderas">
    <h2>¿Qué aprenderás?</h2>
    <p>
        Desde conocimiento básicos hasta avanzados para 
        el mundo de la programación
    </p>
    <div class="container">
        <div class="row">
            <div class="character-column col-sm-12 col-md-12 col-lg-4">
                <div class="card size-card">
                    <img src="https://fer-industries.s3.amazonaws.com/Curso/java.jpg" class="card-img-top img-ap" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Back End</h5>
                        <p class="card-text">
                            Para el back end utilizaremos uno de los lenguajes
                            más populares y con mas tiempo en el mercado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="character-column col-sm-12 col-md-12 col-lg-4">
                <div class="card size-card">
                    <img src="https://fer-industries.s3.amazonaws.com/Curso/mysql.png" class="card-img-top img-ap" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Base de Datos</h5>
                        <p class="card-text">
                            Para el almacenamiento de los datos utilizaremos
                            un motor rápido, confiable y gratuito.
                        </p>
                    </div>
                </div>
            </div>
            <div class="character-column col-sm-12 col-md-12 col-lg-4">
                <div class="card size-card">
                    <img src="https://fer-industries.s3.amazonaws.com/Curso/js.png" class="card-img-top img-ap" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Front End</h5>
                        <p class="card-text">
                            Aprenderás lo básico de HTML, CSS y Javascript
                            haciendo hincapié en este último por la
                            popularidad en los últimos años.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="character-column col-sm-12 col-md-12 col-lg-4">
                <div class="card size-card">
                    <img src="https://fer-industries.s3.amazonaws.com/Curso/git.png"
                     class="card-img-top img-ap" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Repositorio</h5>
                        <p class="card-text">
                            Utilizaremos el repositorio para código más popular
                            para respaldar y llevar el control de versiones.
                        </p>
                    </div>
                </div>
            </div>

            <div class="character-column col-sm-12 col-md-12 col-lg-4">
                <div class="card size-card">
                    <img src="https://fer-industries.s3.amazonaws.com/Curso/aws.jpg"
                     class="card-img-top img-ap" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cloud</h5>
                        <p class="card-text">
                            Utilizaremos AWS RDS 
                            y buckets para almacenamiento.
                        </p>
                    </div>
                </div>
            </div>

            <div class="character-column col-sm-12 col-md-12 col-lg-4">
                <div class="card size-card">
                    <img src="https://fer-industries.s3.amazonaws.com/Curso/jquery.png"
                    class="card-img-top img-ap" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">jQuery</h5>
                        <p class="card-text">
                            Aprenderás a utilizar una de las primeras
                            librerías de Javascript.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="topics">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Temas</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" 
                            src="https://fer-industries.s3.amazonaws.com/Curso/topics/cube.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!--<h4>2009-2011</h4>-->
                                <h4 class="subheading">Programación Orientada a Objetos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Aprenderás el paradigma POO, para que la programación sea 
                                    mucho más sencilla y los datos sean más sencillos de utilizar.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid"
                             src="https://fer-industries.s3.amazonaws.com/Curso/topics/colores.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Diseño</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Veremos los principios de UI / UX
                                    para diseñar nuestras páginas web.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid"
                             src="https://fer-industries.s3.amazonaws.com/Curso/topics/bootstrap.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Herramientas</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Utilizaremos herramientas que nos ayudarán a nuestro diseño, 
                                    bootstrap, animate css, font awesome, entre otras.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid fondo-blanco"
                             src="https://fer-industries.s3.amazonaws.com/Curso/topics/proyecto.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Proyecto Final
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Se hará un proyecto final para poner
                                    en práctica los conocimientos.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>No lo
                                <br>pienses más
                                <br>¡Únete!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section id="caracteristicas">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Detalles</h2>
            </div>
        </div>

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Precios</h4>
              </div>
              <div class="card-body">
                <!--<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>-->
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Los precios que manejo</li>
                  <li>se adaptan de acuerdo</li>
                  <li>a tus necesidades</li>
                  <!--<li>Help center access</li>-->
                </ul>
                <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Horarios</h4>
              </div>
              <div class="card-body">
                <!--<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>-->
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Días disponibles</li>
                  <li>Sábado y Domingo</li>
                  <li>con horarios</li>
                  <li>matutino y vespertino</li>
                </ul>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    Duración
                </h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>6 meses</li>
                  <li>por 5 horas a la semana</li>
                  <li>para tu comodidad</li>
                  <li>será impartido en línea</li>
                </ul>
              </div>
            </div>
          </div>
    </div>
</section>
<br>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactame</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mandame mensaje</h5>
                <p class="card-text">Te explicaré más a detalle acerca del curso, así como los precios, horarios
                    disponibles e inicio del curso.
                </p>
                <a [href]="emailstring" target="_top">
                    <p>
                        <i class="fas fa-envelope email"></i> ferindustries97@gmail.com
                    </p>
                </a>
                <a target="_blank"
                href="https://www.linkedin.com/in/guillermo-fernando-delgadillo-a843a0140?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0C6kot5PSS2xwRUCVvEyfg%3D%3D">
                    <p>
                        <i class="fab fa-linkedin-in link"></i> Guillermo Fernando Delgadillo
                    </p>
                </a>
            </div>
          </div>
        <!--<div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate
                autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" 
                                class="form-control"
                                 placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name."
                                 name="nombre"
                                [(ngModel)]="persona.name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" 
                                class="form-control"
                                 placeholder="Your Email *"
                                  id="email" 
                                  required 
                                  name="email"
                                  [(ngModel)]="persona.email"
                                  data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number."
                                name="telefono"
                                [(ngModel)]="persona.phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."
                                name="mensaje"
                                [(ngModel)]="persona.message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit"
                             class="btn btn-xl" (click)="contactar()">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>-->
    </div>
</section>